<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <h1 class="display-4"><%= title %></h1>
    <table class="table">
      <tr>
        <th>NAME</th>
        <th>MAIL</th>
      </tr>
      <% for(var i in content) { %>
      <tr>
        <% var obj = content[i]; %>
        <td><a href="/users/<%=obj.id%>"><%= obj.name %></a></td>
        <td><%= obj.mail %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
