<!DOCTYPE html>
<html>
  <head>
    <title><%= content.name %>'s Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <h1 class="display-4">Edit <%= content.name %>'s Profile</h1>
    <form action="/users/<%= content.id %>/edit" method="post">
      <table class="table">
        <colgroup span="4">
          <col width="30%">
          <col width="30%">
          <col width="30%">
          <col>
        </colgroup>
        <tr>
          <th>USER_ID</th>
          <th>NAME</th>
          <th>MAIL</th>   
          <th>PASSWORD</th>   
        </tr>
        <tr>
          <td><%= content.id %></td>
          <td><input name="name" type="text" value="<%= content.name %>"></td>
          <td><input name="mail" type="text" value="<%= content.mail %>"></td>
          <td><input name="password" type="text" value="<%= content.password %>"></td>
        </tr>
      </table>
      <input class="btn btn-primary" type="submit" value="Send">
    </form>
  </body>
</html>
