<!DOCTYPE html>
<html>
  <head>
    <title><%= content.name %>'s Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <h1 class="display-4"><%= content.name %>'s Profile</h1>
    <table class="table">
      <colgroup span="4">
        <col width="30%">
        <col width="30%">
        <col width="30%">
        <col>
      </colgroup>
      <tr>
        <th>USER_ID</th>
        <th>NAME</th>
        <th>MAIL</th>   
        <th>PASSWORD</th>   
      </tr>
      <tr>
        <td><%= content.id %></td>
        <td><%= content.name %></td>
        <td><%= content.mail %></td>
        <td>******</td>
      </tr>
    </table>
    <div>
      <a class="btn btn-primary" href="/users/<%=content.id%>/edit">Edit</a>
      <a class="btn btn-secondary" href="/users">Back</a>
    </div>
  </body>
</html>
