<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <h1 class="display-4"><%= title %></h1>
    <table class="table">
      <tr>
        <th>TITLE</th>
        <th>CONTENT</th>
      </tr>
      <% for(var i in content) { %>
      <tr>
        <% var obj = content[i]; %>
        <td><a href="articles/<%=obj.id%>"><%= obj.title %></a></td>
        <td><%= obj.content.substring(0,50) %></td>
      </tr>
      <% } %>
    </table>
    <a class="btn btn-primary" href="articles/create">write new article</a>
  </body>
</html>
