<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <head>
    <h1><%=title%></h1>
  </head>
  <div role="main">
    <p><%-content%></p>
    <form action="/hello/add" method="post">
      <table>
        <tr>
          <th>NAME</th>
          <!-- 再遷移時、フォームに入力値を再表示するためにvalue="<%= form.name %>を追記" -->
          <td><input type="text" name="name" value="<%= form.name %>"></td>
        </tr>
        <tr>
          <th>MAIL</th>
          <td><input type="text" name="mail" value="<%= form.mail %>"></td>
        </tr>
        <tr>
          <th>AGE</th>
          <td><input type="text" name="age" value="<%= form.age %>"></td>
        </tr>
        <tr>
          <th></th>
          <td><input type="submit" value="作成"></td>
        </tr>
      </table>
    </form>
  </div>
</body>
</html>