<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <head>
    <h1><%=title%></h1>
  </head>
  <div role="mail">
    <p><%=content%></p>
    <table>
      <tr>
        <th>ID</th>
        <td><%=mydata.id%></td>
      </tr>
      <tr>
        <th>NAME</th>
        <td><%=mydata.name%></td>
      </tr>
      <tr>
        <th>MAIL</th>
        <td><%=mydata.mail%></td>
      </tr>
      <tr>
        <th>AGE</th>
        <td><%=mydata.age%></td>
      </tr>
    </table>
  </div>
</body>
</html>